body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: lighter;
  background: #3023ae;
 /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #3023ae 0%, #c86dd7 100%);
 /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3023ae), color-stop(100%,#c86dd7));
 /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%);
 /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%);
 /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%);
 /* IE10+ */
  background: linear-gradient(135deg,  #3023ae 0%,#c86dd7 100%);
 /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#c86dd7',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */;
}

a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

#container {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url("BG.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.helperCenterer {
  display: table;
  width: 100%;
}

.centeredVertically {
  display: table-cell;
  vertical-align: middle;
}

@media(max-width: 550px) {
  #iphone {
    display: block;
  }

  #content {
    display: block;
  }
}

#iphone {
  width: 250px;
  height: 510px;
  background-image: url("./Device.png");
}

#screen {
  position: relative;
  top: 63px;
  left: 17.5px;
  width: 215.5px;
  height: 383px;
  background-color: black;
}

#screen video {
  width: 215.5px;
  height: 383px;
}

#iphone {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5%;
}

#content {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
}

#content p {
  max-width: 450px;
  color: #bfb0f2;
  font-family: "HelveticaNeue-Thin","Helvetica Neue Thin","Helvetica Neue","Segoe UI Light","Calibri Light","robotothin",Arial,Helvetica,sans-serif;
  font-weight: 100;
  font-size: 21px;
  letter-spacing: 0.05em;
}

#logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#textDescription {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 0px;
}

form {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 0px;
}

h1#logo {
  font-weight: lighter;
  font-size: 42px;
  text-align: center;
  height: 136px;
}

h1#logo span.start, h1#logo span.end span {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1#logo span.end {
  display: inline-block;
  width: 136px;
  height: 136px;
  border-radius: 68px;
  background-color: white;
  color: #3023ae;
}

.button,.email {
  border: 1px solid #9e8cdd;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: #4d3f81;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  color: white;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  font-size: 14px;
  text-decoration: none;
}

.email {
  width: 320px;
  height: 40px;
  margin-right: 5px;
}

.button {
  width: 120px;
  height: 44px;
  margin-left: 5px;
  text-transform: uppercase;
}

.button:hover {
  background-color: white;
  color: #4d3f81;
}

