body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: lighter;

  background: #3023ae; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #3023ae 0%, #c86dd7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3023ae), color-stop(100%,#c86dd7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #3023ae 0%,#c86dd7 100%); /* IE10+ */
  background: linear-gradient(135deg,  #3023ae 0%,#c86dd7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#c86dd7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
  color: white;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media(max-width: 550px) {
  #container {
    flex-direction: column;
  }
}

#iphone {
  width: 250px;
  height: 510px;
  flex-shrink: 0;
  margin: 10px;

  background-image: url("./Device.png");
}

#screen {
  position: relative;
  top: 63px;
  left: 17.5px;
  width: 215.5px;
  height: 383px;

  background-color: black;
}

#screen video {
  width: 215.5px;
  height: 383px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1#logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: lighter;
  font-size: 42px;
  text-align: center;
}

h1#logo span.end {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 136px;
  height: 136px;
  border-radius: 68px;

  background-color: white;
  color: #3023ae;
}


.button, .email {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;

  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;

  color: white;
  background-color: #3023ae;
}

.button:hover, .email:focus {
  background-color: #c86dd7;
}